.login {
    margin: 200px 0;
    display: block;
}

.form{
    background-color: wheat;
    width: 20%;
    margin: auto;
    height: 270px;
    text-align: center;
    padding-top: 20px;
}

.form h3 {
    padding: 5px 0 15px;
}

.form input {
    padding: 4px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid transparent;
}

.form button {
    margin-top: 25px;
    padding: 5px 5px;
    width: 80%;
    border-radius: 7px;
    border: 1px solid rgb(35, 98, 158);
    background-color: rgb(35, 98, 158);
    color:white;
}

.form p {
    margin-top: 15px;
}