.expenseform {
    align-items: center;
    display: flex;
    margin: auto;
    margin: 15px 10px;
  }
  
  .expenseform label {
    margin: auto;
    font-size: medium;
    font-weight: 600;
  }
  
  .expenseform input {
    margin: 0;
    padding: 3px 5px;
  }
  select {
    padding: 3px 5px;
  }
  
  .expenseform button {
    margin: auto;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid green;
    background-color: green;
    color: white;
  }
  

.expensebox {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

body {
  background-color: rgb(77, 158, 90);
}


.expenseheading {
  text-align: left;
  width: 75%;
  /* border: 1px solid black; */
  margin: auto;
  margin-left: 42px;
  padding: 5px 0px;
}
.expenseheading div {
  display: inline-block;
  width: 33%; 
  /* border: 1px solid black; */
  font-size: 2rem;
  color: blanchedalmond;
}

.expenseitem {
  display: flex;
  text-align: left;
}

.expenseitem div {
  width: 25%;
  font-size: 1.5rem;
  text-align: left;
  display: inline-block;
  padding: 15px 5px;
  /* border: 1px solid black; */
}


.deletebtn{
margin: 12px 5px;
border-radius: 5px;
border: 1px solid rgb(235, 19, 19);
background-color: rgb(235, 19, 19);
color: white;
font-size: medium;
}
.editbtn{
    margin: 12px 5px;
    padding: 0px 12px;
    border-radius: 5px;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    font-size: medium;
}
